.uiwrap {
	display: flex;
	margin-top: 2%;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.uitableRow {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	font-size: 1.3rem;
	padding: 5px;
	border-bottom: 1px solid black;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
}

@media only screen and (min-width: 550px) {
	.uitableRow {
		width: 50%;
	}
}
