.addbookbtnwrap {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	margin-top: 1%;
}

.makeAddBookBtn {
	font-size: 1.3rem;
	width: 90%;
	color: white;
	border: none;
	box-sizing: border-box;
	background: #1e6091;
}

.makeAddBookBtn:focus {
	opacity: 80%;
}
