.dynamicUIDivWrap {
	display: flex;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.dynParentDiv {
	margin-top: 2%;
	display: flex;
	/* border: 1px solid blue; */
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
